@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Radiant Logic SAML Client</h2>

    <h6>
        <a asp-controller="Home" asp-action="Dashboard">Login</a>
    </h6>
</div>